h1 {
	color: red;
}

.btn-info {
	margin-left: 10px ;
}

/*Footer adjusting*/
.row {
  overflow:auto;
  padding-bottom:150px;
}

footer {
  position: relative;
  margin-top: -50px;
  height: 150px;
  clear:both;
  padding-top:20px;
} 