//- looks for 'alert'  TODO: add optional 'statusCode' local to handler
extend layout

block content


	.col-sm-9.col-md-10
		//- TODO change alert colour depending on statusCode
		#alert
			- var alertType;
			- if (statusCode === 200) {
			-	alertType = 'alert-success';
			-	}
			- else {
			-	alertType = 'alert-danger'
			-	} 

			if alert
				div(class="alert alert-dismissable #{alertType}")
					button.close( type="button", data-dismiss="alert" ) &times;
					| #{alert}


		//- TODO change 'compose' if editing
		h3 Compose Post 
		br
		form(action='edit', method='POST')
			label Name:
				input(type='text', name='author' required)
			label Title:
				input(type='text', name='title' required)
			label Text:
				textarea(rows='10' cols='50' name='text' required)
			input(type='submit', name='Submit')