extend layout

block content
		h3 Edit Post - Test Locals: #{test}
		form(action='edit', method='POST')
			label Name:
				input(type='text', name='author')
			label Title:
				input(type='text', name='title')
			label Text:
				input(type='text', name='text')
			input(type='submit', name='Submit')
		p css? we need some... and why does it not work?!