//- looks for 'alert'
extend layout

block content

	#alert
		if alert
			.alert.alert-dismissable.alert-success
				button.close( type="button", data-dismiss="alert" ) x
				| #{alert}

	h3 Edit Post
	form(action='edit', method='POST')
		label Name:
			input(type='text', name='author' required)
		label Title:
			input(type='text', name='title' required)
		label Text:
			input(type='text', name='text' required)
		input(type='submit', name='Submit')

	a.btn.btn-info(href='/') Home