doctype
html
	head
	title Blog
	link(rel='stylesheet', href='style.css')
	body
	header
		h1 Lets Blog!
		a(href='/edit') edit page


		each post in posts
			h3= post.title
			p= post.text
			p= post.author
