doctype
html
	head
	title Blog
	//- link(rel='stylesheet', href='/stylesheets/style.css')
	body
	header
		h1 Lets Blog!
		a(href='/edit') edit page

		
		-console.log(posts);
		
		//- each post in posts
		//- 	h3= post.title
		//- 	p= post.text
		//- 	strong= post.author
