//- expects 'posts', 'postId'
extend layout

block content

		- var selectedPost
		- posts.forEach(function(elem){ if (elem['_id'].toString() === postId) {selectedPost = elem } }) 

		.col-sm-9.col-md-10
			.panel.panel-primary
				.panel-heading #{selectedPost.title} | Written by: #{selectedPost.author}
				.panel-body #{selectedPost.text}
